.main {
  margin-left: 10%;
  margin-right: 10%;
}

.container {
  margin-top: 1%;
  column-count: 3;
}

img {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;       /*растягиваем изображение на всю ширину блока-контейнера*/
}

.filterDiv {
  float: left;
  color: #ffffff;
  text-align: center;
  object-fit: cover;
  display: _none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

.myBtnContainer {
  min-width: 400px;
}

/* Style the buttons */
.btn {
  _border: none;
  outline: none;
  padding: 9px 9px;
  background-color: #ffffff;
  margin-right: 1%;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}
